/* Hide the default scrollbar for all elements */
::-webkit-scrollbar {
    width: 0; /* Remove horizontal scrollbar */
    height: 0; /* Remove vertical scrollbar */
}

/* Optionally, you can style the custom scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

/* Optionally, you can style the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
}


body {
    color:aliceblue;
    background-color:black;
    margin: 0px;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px;
    margin-bottom: 32px;
    padding: 5px;
    background-color: rgb(5, 15, 25);
    z-index: 1000;
}

.black-header {
    background-color:black;
    position: fixed;
    z-index: 9;
    top: 0px;
    height: 80px;
    width: 100%;
}

.black-footer {
    background-color:black;
    position: fixed;
    z-index: 9;
    bottom: 0px;
    height: 32px;
    width: 100%;
}

h1 {
    font-size: 20px;
    margin: 0px;
}

.background-border {
    position: fixed;
    top: 80px;
    left: 0px;
    Right: 0px;
    bottom: 32px;
    background-color: transparent;
    pointer-events: none;
    z-index: 12;
    border: 3px solid #ffb300;
}

.user-info {
    display: grid;
    grid-template-columns: 50px auto;
}

.username {
    margin-top: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
}

.corner-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 13;
    pointer-events: none;
}

.top-left-curve {
    z-index: 13;
    left: -26px;
    top: 54px;
    position: absolute;
}

.top-right-curve {
    z-index: 13;
    right: -26px;
    top: 54px;
    position: absolute;
    transform: scaleX(-1);
}

.bottom-left-curve {
    z-index: 13;
    left: -26px;
    bottom: 6px;
    position: absolute;
    transform: scaleY(-1);
}

.bottom-right-curve {
    z-index: 13;
    right: -26px;
    bottom: 6px;
    position: absolute;
    transform: scale(-1);
}

.top-squig, .bottom-squig, .left-squig, .right-squig {
    display: none;
}

.add-button {
    margin: 0px 10px 2px 0px;
    font-size: 20px;
}

.dropdown-button {
    margin: 0px 0px 2px 10px;
    font-size: 13px;

}

.add-button:hover, .dropdown-button:hover {
    background-color: #ffb300;
}

.top-bar {
    display:grid;
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: auto;
}

.habits, .goals, .daylies, .weeklies, .monthlies {
    color: white;
    padding: 10px;
    margin: 15px;
    background-color: rgb(5, 15, 25, 0.25);
    border-color: rgb(0, 175, 250);
    border-style:double;
    border-radius: 2px;
}

.habits {
    margin-top: 120px;
}

.schedule {
    text-align: center;
    color:black;
    padding: 1px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 80px;
}

main div div {
    padding: 0px;
    margin: 0px;
}


.list-item {
    color: rgb(0, 175, 250);
    background-color: rgb(5, 15, 25);
    border-color: rgb(0, 100, 120);
    border-style: inset;
    margin: 10px 5px;
    padding: 10px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
}

/* .list-item {
    color: rgb(130, 0, 255);
    background-color: rgb(5, 15, 25);
    border-color: rgb(40, 20, 70);
    border-style: inset;
    margin: 10px 5px;
    padding: 10px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
} */

/* .list-item {
    color: rgb(255, 0, 0);
    background-color: rgb(5, 15, 25);
    border-color: rgb(100, 60, 60);
    border-style: inset;
    margin: 10px 5px;
    padding: 10px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
} */

p {
    font-size: 18px;
}

.list-item span {
    grid-column: 2/3;
    margin-left: 10px;  
    margin-right: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center; /* Center content vertically with equal space above and below */
}

.list-item button {
    color: rgb(0, 175, 250);
    background-color: black;
    font-size: 24px;
}

.checkbox-label input {
    min-width: 25px;
    min-height: 25px;
}

.top-bar h1 {
    align-self: end;
}

hr {
    margin: 0px;
}

h2 {
    font-size: 15px;
}

.task-creation {
    background-color: rgb(5, 15, 25);
    padding: 10px;
    flex-direction: row;
    display: none; /* This will be toggled on and off */
}

.task-creation input:hover, .task-creation input:focus {
    background-color: rgb(0, 0, 0);
    border-color: #ffb300;
}

.task-creation p {
    background-color: rgb(5, 15, 25);
    margin: 0px;
}

.task-creation input {
    background-color: rgb(20, 60, 100);
    margin-left: 5px;
    color: white;
}

.task-text {
    width: 80%
}

.delete-button:hover {
    transform: scale(0.9);
}


/* ! This is a test */


/* Good colors
Cyan
rgb(0, 175, 250)
rgb(0, 100, 120)

Violet
rgb(130, 0, 255)
rgb(40, 20, 70)

Red
rgb(255, 0, 0)
rgb(100, 60, 60)
*/