@media only screen and (min-width: 365px) {

    header {
        margin-bottom: 50px;
        padding: 30px;
    }
    
    h1 {
        font-size: 28px;
    }
    
    main {
        margin: 30px;
    }
    
    .user-info {
        grid-template-columns: 120px auto;
    }
    
    .username {
        margin-top: 40px;
    }
    
    .user-img {
        width: 100px;
        height: 100px;
    }
    
    .add-button {
        margin: 0px 5px 5px 0px;
        font-size: 30px;
    }
    
    .dropdown-button {
        margin: 0px 0px 5px 15px;
        font-size: 23px;
    }
    
    .top-bar {
        grid-template-columns: 55% 25% 20%;
    }
    
    .habits, .goals, .daylies, .weeklies, .monthlies {
        padding: 10px;
        margin: 20px;
    }
    
    .schedule {
        padding: 10px;
        margin: 30px;
        background-color: rgb(255, 255, 255);
    }
    
    main div div {
        padding: 0px;
        margin: 0px;
    }
    
    .list-item {
        margin: 10px 5px;
        padding: 0px 15px 0px 15px;
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: auto;
    }
    
    p {
        font-size: 18px;
    }
    
    
    
    hr {
        margin: 0px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .task-creation {
        padding: 20px;
    }
    
    .task-creation input {
        margin-left: 10px;
    }
}
