@media only screen and (min-width: 365px) {

    header {
        padding: 10px;
    }

    .black-header {
        height: 115px;
    }

    .black-footer {
        height: 37px;
    }

    
    h1 {
        font-size: 28px;
    }
    
    .user-info {
        grid-template-columns: 70px auto;
    }
    
    .username {
        margin-top: 20px;
    }
    
    .user-img {
        width: auto;
        height: 60px;
    }

    .corner-container {
        left: 8%;
        width: auto;
        right: 8%;
    }

    .top-left-curve {
        position: absolute;
        left: -25px;
        top: 90px;
    }

    .top-right-curve {
        position: absolute;
        right: -25px;
        top: 90px;
    }

    .bottom-left-curve {
        position: absolute;
        left: -25px;
        bottom: 11px;
    }

    .bottom-right-curve {
        position: absolute;
        right: -25px;
        bottom: 11px;
    }
    
    .add-button {
        margin: 0px 5px 5px 0px;
        font-size: 30px;
    }
    
    .dropdown-button {
        margin: max(1px 5px 15px); 
        margin-bottom: 5px;
        font-size: 23px;
    }
    
    .top-bar {
        grid-template-columns: 55% 25% 20%;
    }
    
    .habits, .goals, .daylies, .weeklies, .monthlies {
        padding: 10px;
        margin: 20px 12%;
    }

    .habits {
        margin-top: 140px;
    }
    
    .schedule {
        padding: 10px;
        margin: 30px 12%;
        margin-bottom: 80px;
        background-color: rgb(255, 255, 255);
    }
    
    main div div {
        padding: 0px;
        margin: 0px;
    }
    
    p {
        font-size: 18px;
    }
    
    
    
    hr {
        margin: 0px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .task-creation {
        padding: 20px;
    }
    
    .task-creation input {
        margin-left: 10px;
    }

    .background-border {
        top: 115px;
        bottom: 37px;
        position: absolute;
    }

}
